# production
build
dist

# ignore all md files
*.md

# dependencies
node_modules/
package-lock.json
package.json

# eslint cache
.eslintcache

# local env files
.env
.env.test

# next.js 
.next

# misc
DS_Store