.bio
  .image
    =image_tag blok['Photo']['filename']
  .name
    =blok['Name']
  .role
    =blok['Role']
  -if blok['Email'].present?
    .contact
      =link_to "Contact", "mailto:#{blok['Email']}", class: 'btn fa fa-envelope'
