.initiative.card
  .card-body
    %h5=blok['Title']

    //.badge{ data: { toggle: "tooltip", title: phase_description(blok['Phase']) } }
    //  =blok['Phase']

    .text
      =@lcn_client.render(blok['Description']).html_safe unless blok['Description'].blank?

    -if blok['Iterations'].present?
      %p.info.text-muted.mb-2
        %em.fa.fa-sync.pr-1
        =blok['Iterations']
        Versions
    -if blok['tests'].present?
      %p.info.text-muted
        %em.fa.fa-users.pr-1
        Tested by
        =blok['tests']

    =link_to "Learn More", "mailto: emily@lawcentres.org.uk?subject=I'd like to learn more about the #{blok['Title']} initiative", class: 'btn fa fa-handshake'
