.row

  .col-lg-9.pb-4

    %section.main-content.content-managed

      %h1.mb-4=@data['name']

      -if @data['content']['body'].present?

        .storyblock.pt-1
          -@data['content']['body'].each do |blok|
            =blok['_editable'].html_safe if blok['_editable'].present?
            =render partial: "components/storyblok/blocks/#{blok['component'].downcase.parameterize(separator: "_")}", locals: { blok: blok }

  .col-lg-3

    %section.side-navigation
      %ul
        %li
          =link_to root_path do
            %em.fa.fa-hands-helping
            Get involved
        %li
          =link_to "https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=66W856UKUHHWW&source=url" do
            %em.fa.fa-donate
            Donate now
        %li
          =link_to "http://eepurl.com/b1ASV5" do
            %em.fa.fa-envelope-open-text
            Newsletter

=render "components/storyblok/preview"
