.row
  .col-md-9

    %section.main-content.content-managed

      %h1.mb-4=@data['name']

      -if @data['content']['body'].present?

        .storyblock
          -@data['content']['body'].each do |blok|
            =blok['_editable'].html_safe if blok['_editable'].present?
            =render partial: "components/storyblok/blocks/#{blok['component'].downcase.parameterize(separator: "_")}", locals: { blok: blok }

      -if @kb_navigation.present?
        -next_item = next_in_tree(@kb_navigation, @data['uuid'])
        -previous_item = previous_in_tree(@kb_navigation, @data['uuid'])

      .row.mb-0.pt-4.mt-2
        .col-6
          -if previous_item.present?
            %p.mb-0.pb-0
              =link_to "/dashboard/kb#{previous_item['item']['real_path']}", class: 'link-unstyled' do
                %em.fa.fa-arrow-alt-circle-left.pr-1
                =previous_item['item']['name']
        .col-6.text-right
          -if next_item.present?
            %p.mb-0.pb-0
              =link_to "/dashboard/kb#{next_item['item']['real_path']}", class: 'link-unstyled' do
                =next_item['item']['name']
                %em.fa.fa-arrow-alt-circle-right.pl-1

  .col-md-3
    .card.px-2.mb-3
      .card-body.pb-4
        %h5.mb-3.under Toolbox
        %p.small.mb-2.pt-1
          =link_to "#", class: "link-unstyled" do
            %em.fa.fa-bookmark.pr-2.font-weight-light{style: "color: #D3D4D7"}
            Lorem
        %p.small.mb-2
          =link_to "#", class: "link-unstyled" do
            %em.fa.fa-bookmark.pr-2.font-weight-light{style: "color: #D3D4D7"}
            Ipsum
    .card.px-2.mb-3
      .card-body.pb-4
        %h5.mb-3.under Downloads
        %p.small.mb-2.pt-1
          =link_to "#", class: "link-unstyled" do
            %em.fa.fa-file-alt.pr-2.font-weight-light{style: "color: #D3D4D7"}
            Lorem
        %p.small.mb-2
          =link_to "#", class: "link-unstyled" do
            %em.fa.fa-file-alt.pr-2.font-weight-light{style: "color: #D3D4D7"}
            Ipsum
    .pt-1
      =link_to "#", class: "btn", style: "width: 100%" do
        %em.fad.fa-comments.pr-1
        Discuss

=render "components/storyblok/preview"
