.td--breakdown{
  span:not(:last-child):after {content: '|'; margin-left: 0.3rem}
}

.table thead th {
  border: 0;
  font-weight: 400;
  font-size: 0.8em;
  padding-bottom: 0.25em;
  @include media-breakpoint-down(sm) {
    padding-top: 0;
  }
}

.table td {
  vertical-align: middle;
  border-top: 0;
  font-size: 0.85em;
  font-weight: 200;
  &:first-child {
    padding-left: 1em;
  }
  .btn {
    padding: 0.5rem 1rem;
    font-size: 0.85rem;
    &.fa {
      padding: 0.5rem 1.25rem 0.5rem 0.9em;
    }
  }
}

.table tr:nth-child(odd) td {
  background: #f5f7fa;
  &:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
  }
  &:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
}

.table td a {
  font-weight: 400;
  &.btn {
    font-weight: 500;
    font-size: 0.85em;
    &.fa {
      font-weight: 500;
      padding: 0.5rem 0.7rem 0.55rem 0.9em;
    }
    &:before {
      font-weight: 600;
    }
  }
}

table td .list--inline-actions {
  text-align: right;
}

table td.nowrap {
  white-space: nowrap;
}

table td.align-top {
  vertical-align: top;
}
